{% load cms_tags menu_tags sekizai_tags static %}

<html lang="{{ LANGUAGE_CODE }}">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% page_attribute 'meta_description' %}">
  <meta name="author" content="">

  <title>{% page_attribute 'page_title' %} - Modern Business</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <!-- Custom styles for this template -->
  <link href="{% static 'css/modern-business.css' %}" rel="stylesheet" type="text/css">
  {% render_block "css" %}
</head>

<body>
 {% cms_toolbar %}
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Modern Business</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

                {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
{% block content %}
 {% endblock %}
  <!-- /.container -->

  <!-- Footer -->
 <footer>
 {% static_placeholder "Footer" %}
</footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
          {% render_block "js" %}
</body>

</html>
